.project {
  background-color: white;
  padding: 2rem;
  height: 100%;
}
.add-project-form {
  padding: 1rem 0;
}
.project-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.description-group {
  display: flex;
  margin: 1rem 0;
}
.edit-project-form {
  display: flex;
  flex-direction: row;
}
.edit-project-form button {
  height: 50%;
  margin-left: 2rem;
}
.edit-project-button {
  margin-right: 1rem;
}
.yes-button {
  width: 3rem;
  margin: 0 1rem;
  background-color: red;
  color: white;
}
.no-button {
  width: 3rem;
}
